body {
  margin: auto;
  background-image: url('background.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 10px;
}

html {
  overflow-y: scroll;
}

a {
    color: rgb(38, 112, 162);
}

.header {
    text-align: center;
    color: #000000;
    padding: 1em;
    font-size: 20px;
}

.user-info, .error-info, .success-info {
    position: relative;
    top: -10px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    max-width:max-content;
    border: 2px solid #224c85;
    background-color:#3777b3;
    color: white;
    font-size: 18px;
    margin: 20px auto;
}

.error-info {
    border: 2px solid #a33737;
    background-color:#cb4545;
}

.success-info {
    border: 2px solid #4d963b;
    background-color:#61bd4a;
}

.nav {
    position: absolute;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px 32px;
    top: 0;
    left: 0;
    right: 0;
}

.content {
    background-color: rgba(240, 248, 255, 0.45);
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    max-width: 900px;
    overflow-wrap: break-word;
    margin: auto;
    font-size: 18px;
}

.form {
    justify-content: center;
    display: flex;
    padding: 5px;
}

.form label {
    display: inline-block;
    min-width: 150px;
}

.btn, .btn-remove, .btn-edit, .btn-menu {
    border-radius: 5px;
    border: 3px solid #034184;
    background-color: #0454aa;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btn-remove {
    background-color: #ae2929;
    font-size: 14px;
    padding: 12px 30px;
}

.btn-edit {
    background-color: #2374c9;
    font-size: 14px;
    padding: 12px 30px;
}

.btn-menu {
    position: absolute;
    top: 10px;
    left: 10px;
}

.btn:hover {
  background-color: #03468e;
}

.btn-remove:hover {
  background-color: #9b2121;
}

.btn-edit:hover {
  background-color: #1165bf;
}

.btn-menu:hover {
  background-color: #044d9a;
}

.recipe-instructions, .top5-section, .comment-section {
    background-color: rgba(205, 253, 235, 0.2);
    border-radius: 5px;
    padding: 20px;
    overflow-wrap: break-word;
    margin: auto;
    max-width: 700px;
}

.search-results {
    text-align: center;
    padding-left: 0;
}   

.top5-section {
    border: 2px solid #abd5dd;
    padding: 10px 32px;
    border-radius: 15px;
}