<!DOCTYPE html>

<html>

<head>
  <title>Add a recipe</title>
</head>



<body>
  <form action="/added_recipes" method="post">
    <p>Choose the dish type:</p>
    <p>
      <input type="radio" name="dish" value="1" /> Starter / Appetizer
      <input type="radio" name="dish" value="2" /> Snack
      <input type="radio" name="dish" value="3" /> Main dish
      <input type="radio" name="dish" value="4" /> Side dish
      <input type="radio" name="dish" value="5" /> Breakfast
      <input type="radio" name="dish" value="6" /> Side dish
      <input type="radio" name="dish" value="7" /> Beverage
      <input type="radio" name="dish" value="8" /> Dessert
    </p>
    <p>Choose the diet preference for the dish:</p>
    <p>
      <input type="checkbox" name="diet" value="A" /> Non-vegetarian
      <input type="checkbox" name="diet" value="B" /> Vegetarian
      <input type="checkbox" name="diet" value="C" /> Vegan
      <input type="checkbox" name="diet" value="D" /> Flexitarian
      <input type="checkbox" name="diet" value="E" /> Low-Carb
    </p>
    <p>Write your recipe: <br />
      <textarea name="message" rows="3" cols="50"></textarea>
    </p>
    <input type="submit" value="Publish recipe" />
  </form>
</body>

</html