<!DOCTYPE html>
<html>

  <form action="/edit_comment/{{ comment.id }}" method="post">
    <p>
      Your comment:<br />
        <textarea name="comment" rows="10" cols="70" maxlength="2000">{{ comment.comment_text }} </textarea>
    </p>

    <p>Your grade:</p>

    <p>
      <input type="radio" name="rating" value="0" /> 0
      <input type="radio" name="rating" value="1" /> 1
      <input type="radio" name="rating" value="2" /> 2
      <input type="radio" name="rating" value="3" /> 3
      <input type="radio" name="rating" value="4" /> 4
      <input type="radio" name="rating" value="5" /> 5
    </p>

    <input type="submit" value="Finish editing" />

    <p>
        <a href="/show_comments">
        <button>Back</button>
        </a>
    </p>
  </form>

</html>