{% extends "layout.html" %}

{% block title %} Recipeland {% endblock %}

{% block content %}

<br>
<br>
<br>

<p>In this app, you can share your favorite recipes and rate other users' recipes.</p>
<p>You can also comment on other recipes and let people know your thoughts!</p>

<br>
<br>

{% if top_recipes %}

<h2>Top 5 Recipes</h2>

{% for recipe in top_recipes %}

<li>
<b><a href="/recipe/{{ recipe.id }}">
{{ recipe.title }}</b></a>

({{ recipe.average_rating|round(1) }} ⭐️,
{{ recipe.comments_count }} ratings)

<p>From user: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a></p>

</li>

<br>

{% endfor %}

{% else %}

<h2>Top 5 Recipes</h2>
<p>No added recipes yet.</p>

{% endif %}

{% endblock %}