{% extends "layout.html" %}

{% block title %} Recipeland {% endblock %}

{% block content %}

<br>
<br>
<br>

<p>In this app, you can share your favorite recipes and rate other users' recipes.</p>
<p>You can also comment on other recipes and let people know your thoughts!</p>

<br>
<br>

<div class="top5-section">
{% if top_recipes %}

    <h2>Top 5 Recipes 🏆</h2>
    <br>

    {% for recipe in top_recipes %}

        {% if recipe.average_rating %}
            <b><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></b>
            ({{ recipe.average_rating|round(1) }} ⭐️,
            {{ recipe.comments_count }} ratings)

            <p>
            <small>From user: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a> 
            ({{ recipe.sent_at }})</small>
            </p>

        {% else %}

        <p>There are no available recipes.</p>

        {% endif %}

    {% endfor %}

{% else %}

    <h2>Top 5 Recipes</h2>
    <p>There are no available recipes.</p>

{% endif %}

</div>

{% endblock %}