<!DOCTYPE html>
<html>

<head>
  <title>Log in</title>
</head>
    
<body>
  <h1>Log in</h1>

  <form action="/user_login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" value="{{ username or '' }}" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Log in" />
  </form>

  <hr />
  <p>
    <a href="/">Back to menu</a>
  </p>

  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}
  
</body>

</html>