<!DOCTYPE html>
<html>

<head>
  <title>Create a new account</title>
</head>

<body>
  <form action="/create_account" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" value="{{ username or '' }}" maxlength="15" required/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" minlength="8" required/>
    </p>
    <p>
      Repeat password: <br />
      <input type="password" name="password2" minlength="8" required/>
    </p>
    <input type="submit" value="Create account" />
  </form>

  <br>
  <p>
    <a href="/">Back to menu</a>
  </p>

<br>

</body>
  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

</html>