{% extends "layout.html" %}
{% block title %} Browse comments {% endblock %}

{% block content %}

<a href="/" class="btn-menu">Back to menu</a>

<h1>{{ recipe.title }}</h1>

<h2>Comments</h2>

{% if comments %}

{% for comment in comments %}
    <hr/>

<p>
    <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a> rated this recipe {{ comment.rating }} / 5
</p>

<p>
    {{ comment.comment_text | show_lines }}
    
    {% if comment.user_id == session.user_id %}

    <p>
        <a href="/edit_comment/{{ comment.id }}"class="btn-edit">Edit</a>
        <a href="/remove_comment/{{ comment.id }}" class="btn-remove">Delete</a>
    </p>

    {% endif %}
        
    </p>

    {% endfor %}
    <hr/>

{% else %}

    <p>No comments added yet.</p>
    <hr/>

{% endif %}

<a href="/recipe/{{ recipe.id }}" class="btn">Back</a>


<p>
{% if page > 1 %}

<a href="/show_comments/{{ recipe.id }}/{{ page - 1 }}">&lt;&lt;</a>

{% endif %}

Page {{ page }}/{{ page_count }}

{% if page < page_count %}

<a href="/show_comments/{{ recipe.id }}/{{ page + 1 }}">&gt;&gt;</a>

{% endif %}
</p>

{% endblock %}